{% extends 'base.html' %}

{% block 'title' %}Posts{% endblock %}

{% block 'content' %}
<div>
    <a class="btn btn-primary btn-sm mt-1 mb-1" href="{% url 'post_create' %}">New Post</a>
</div>
{% for post in posts %}
<small>{{ post.user }}, {{ post.created }}</small>
<h1><a href="{% url 'post' post.id %}">{{ post.title }}</a></h1>
<p>{{ post.body }}</p>
<small>Likes: {{ post.likes_count }}</small>
<div>
    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post_like' post.id %}">LIKE</a>
</div>
<hr>
{% endfor %}
{% endblock %}

